.crash-bets-autostop {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(48% - 2.5px);

  .crash-bets-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .crash-bets-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2.5px;
      background-color: var(--bg-color-tertiary);
      border-radius: 5px;
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      font-weight: 700;
      font-size: 14px;
    }

    .crash-bets-multiplier {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 2.5px;
      background-color: var(--bg-color-tertiary);
      border-radius: 5px;
      width: 100%;
      height: 40px;
      font-weight: 700;
    }
  }

  .crash-bets-additional {
    display: flex;
    width: 100%;

    .crash-bets-buttons {
      display: flex;
      width: 100%;

      .crash-bets-button {
        height: 40px;
        width: calc(50% - 5px);
      }
    }
  }
}
