.game-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-color-secondary);
  border-radius: 15px;
  margin-top: 20px;
  padding: 10px;
}

.game-container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-image: linear-gradient(160deg, rgba(0, 0, 0, 0) 40%, rgba(1, 162, 255, 0.25) 100%, rgba(255, 255, 255, 0) 100%);
  transition: background-image 0.5s ease;

  &.game-over {
    background-image: linear-gradient(160deg, rgba(0, 0, 0, 0) 40%, rgba(255, 0, 0, 0.37) 100%, rgba(255, 255, 255, 0) 100%);
  }

  canvas {
    width: 100%;
    height: calc(500px / (16 / 9));
  }

  .crash-start-button {
    position: absolute;
    display: flex;
    background-color: black;
    padding: 10px;
    top: 300px;
    z-index: 1;
  }

  .crash-game-over-button {
    position: absolute;
    top: 300px;

    margin-top: 50px;
    display: flex;
    background-color: black;
    padding: 10px;
    z-index: 1;
  }
}
