* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

button {
  border: none;
  outline: none;
}

:root {
  --bg-color-primary: #1a2c38;
  --bg-color-secondary: #283c4a;
  --bg-color-tertiary: rgba(255, 255, 255, 0.15);
}

body {
  background-color: var(--bg-color-primary);
}

.app-container {
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
  height: 100dvh;
  padding: 10px;
}
